.web-container{
    width: 100%;
  }
  
  .web-content-center{
    width: 989px;
    background-color: #fff;
    min-height: 1100px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .web-content {
    margin-top: 71px;
    display: flex;
    background-color: rgb(235, 226, 226);
  }

  .web-content-center.atquestion{
      margin-top: 50px;
  }